mule4-basics-hands-on/src/main/mule/on-new-or-updated-file-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="on-new-or-updated-file-demoFlow" doc:id="6125ba65-d04a-4082-b712-1c6b8b388e2e" >
		<file:listener doc:name="On New or Updated File" doc:id="6b566816-0c45-4e8c-9413-e8f30c412ad1" directory="C:\workspace\MuleSoft\MuleSoftWithFish\Hands-On\data-transformation\input" autoDelete="true" moveToDirectory="C:\workspace\MuleSoft\MuleSoftWithFish\Hands-On\data-transformation\backup" renameTo="#[&quot;backup-&quot; ++ now() as String{format:'Y-M-d-h-m-s'}++ &quot;-&quot; ++ attributes.fileName]" outputMimeType="application/csv">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="606a7812-de4b-4296-adb8-12114c08cf5f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="6fc50456-5dac-4dd9-ab3b-a438a62d37b1" config-ref="File_Config" path="#[(attributes.fileName splitBy  &quot;.&quot;)[0] ++ &quot;-&quot; ++ now() as String {format: 'Y-M-h-m-s'}++ &quot;.json&quot;]"/>
	</flow>
</mule>
